@import "tailwindcss";

body {
  background: #409698;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05),
    inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px) saturate(0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-btn {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.5s ease-out, transform 0.4s;
}

.glass-btn:hover {
  background-color: #1e293974;
  transform: scale(1.05);
}
