@import "tailwindcss";

body {
  background: radial-gradient(
      circle at 20% 30%,
      rgba(79, 112, 255, 0.6) 0%,
      rgba(79, 112, 255, 0) 70%
    ),
    radial-gradient(
      circle at 80% 20%,
      rgba(182, 64, 255, 0.6) 0%,
      rgba(182, 64, 255, 0) 70%
    ),
    radial-gradient(
      circle at 50% 80%,
      rgba(0, 209, 255, 0.6) 0%,
      rgba(0, 209, 255, 0) 70%
    ),
    #0a0a12;
  background-attachment: fixed;
  background-size: cover;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05),
    inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px) saturate(0.5);
  border: 1px solid rgba(255, 255, 255, 0);
}

.glass-navigators {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2),
    inset 0 4px 10px rgba(255, 255, 255, 0.2);
}

.glass-btn {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.5s ease-out, transform 0.4s;
}

.glass-btn:hover {
  background-color: #1e293974;
  transform: scale(1.05);
}
